header{
    text-align: center;
    background-color: white;
    color: black;

}
body{
    text-align: center;
    background-color: black;
    color: white;
}

button{
    background-color: rgb(77, 9, 77);
    color: white;
    border-radius: 25px;
    border-color: white;
    border-width: 3px;
}

footer{
    background-color: white;
    color: black;
    text-align: center;
}

img{
    border-radius: 25px;
}